# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
.venv/
.venv/
venv/

# IDE configs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Checkpoints
*.pt
*.onnx
*.engine
*.weights
